html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        title Title
        link(rel="stylesheet" href="css/main.css")
    body
        h1.button test12
        .header
        img(src="./img/Юля.jpg")
        #root
